* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #808080;
}

.templete {
  width: 960px;
  margin: 0 auto;
}

.headerSection {
  height: 100px;
  width: 100%;
  background-color: #205e61;
}
.footerSection {
  height: 100px;
  width: 100%;
  background-color: #205e61;
}

.menuSection {
  height: 50px;
  width: 100%;
  background-color: #3f979b;
}

.contentSection {
  height: 600px;
  width: 100%;
  background-color: #8bf5fa;
  display: flex;
}

.leftPart {
  width: 30%;
  height: 100%;
  background-color: #5b8fb9;
}

.centerPart {
  width: 40%;
  height: 100%;
  background-color: #0081c9;
}

.rightPart {
  width: 30%;
  height: 100%;
  background-color: #5b8fb9;
}
